body {
    background: #f9f9f9;
}
.title-product {
    text-align: center;
    margin: 1rem;
    font-family: "Henny Penny", system-ui;
    font-weight: 400;
    font-style: normal;
}
.product-container {
    display: flex;
    justify-content: center;
    gap: 16px;

    .sidebar {
        border: 2px solid rgba(109, 106, 106, 0.11);
        border-radius: 10px;
        background: white;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        flex-grow: 0.1;
        align-self: self-start;

        h3 {
            font-size: 32px;
            align-items: center;
        }

        ul {
            li {
                border-bottom: 1px solid #ccc;
                margin-top: 16px;
                font-size: 18px;
                width: 100%;
                
                a {
                    color: inherit;
                }
                a:hover {
                    color: rgb(34 83 119);
                }
            }
        }

    }
}

.titulo-carrito {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}